.jumbotron p:first-of-type {
  margin-bottom: 0;
}

.jumbotron button {
  background: #d66e5a;
  border: 1px solid #d66e5a;
  text-shadow: none;
}

.jumbotron button:hover {
  background: #5ad6a8;
  border: 1px solid #5ad6a8;
}
